<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Saia Madame Rupez</string>
	<string>Blusa edição limitada Verão</string>
	<string>Blusa melancias</string>
	<string>Saia tradicional vermelha</string>
	<string>Saia ft. Russein</string>
	<string>Camiseta morango</string>
</array>
</plist>
